.compose_mail {
  position: absolute;
  bottom: 1px;
  right: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #404040;
  color: white;
  width: 500px;
  height: 400px;
  border: 1px solid whitesmoke;
  box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.25);
}

.compose_mail .compose_mail_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.compose_mail form {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: white;
  height: 88%;
}
.compose_mail form input,
textarea {
  outline: none;
  border: none;
  height: 40px;
  border-bottom: 1px solid whitesmoke;
  padding: 10px;
}
.compose_mail form textarea {
  resize: none;
}
/* .compose_mail form .form_submitOption .inputFile input {
  position: absolute;
} */
.compose_mail form .form_errors {
  background-color: white;
  color: red;
  padding: 5px 15px;
}
.compose_mail form .form_submitOption {
  background-color: white;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}
.compose_mail form .form_submitOption svg {
  margin: 0px 5px;
  cursor: pointer;
}
.compose_mail form .form_submitOption svg:hover {
  background-color: whitesmoke;
}
.compose_mail form .form_submitOption button {
  margin: 5px;
  margin-right: 10px;
  background-color: rgb(54, 125, 240) !important;
  color: white;
}
.compose_mail form .form_submitOption .left_submitOption {
  display: flex;
  justify-content: center;
  align-items: center;
}
.compose_mail_body {
  flex: 1;
}
.compose_mail_header .compose_mail_header_icons {
  padding: 3px !important;
  color: white;
}

.inputFile > input {
  display: none;
}
.smaallSizeBox {
  height: 50px;
}
.smaallSizeBox form {
  display: none;
}
@media only screen and (max-width: 900px) {
  .compose_mail {
    width: 450px;
    height: 370px;
    bottom: 5px;
  }
  .smaallSizeBox {
    height: 50px;
  }
  .smaallSizeBox form {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .compose_mail {
    width: 420px;
    height: 340px;
    bottom: 10px;
    right: 15px;
  }
  .smaallSizeBox {
    height: 50px;
  }
  .smaallSizeBox form {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .compose_mail {
    width: 380px;
    height: 320px;
    bottom: 14px;
    right: 15px;
  }
  .compose_mail form .form_submitOption {
    padding: 10px 10px;
  }
  .smaallSizeBox {
    height: 50px;
  }
  .smaallSizeBox form {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .compose_mail {
    width: 95%;
    height: 500px;
    bottom: 14px;
    right: 15px;
  }
  .form_submitOption svg {
    display: none;
  }
  .form_submitOption .show_form_icon {
    display: inline-flex;
  }
  .compose_mail form .form_submitOption {
    justify-content: start;
  }
  .smaallSizeBox {
    height: 50px;
  }
  .smaallSizeBox form {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  /* .compose_mail {
    width: 95%;
    height: 500px;
    bottom: 16px;
    right: 10px;
  } */
  .compose_mail form .form_submitOption .delete_icon {
    display: none;
  }
  .smaallSizeBox {
    height: 50px;
  }
  .smaallSizeBox form {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .compose_mail {
    right: auto;
  }
  .smaallSizeBox {
    height: 50px;
  }
  .smaallSizeBox form {
    display: none;
  }
}
